body {
    
    min-height: 100vh;
}
.navbar_container{
    background:white;
    width:100vw;
    display:flex;
    flex-direction:column;
    position:sticky;
    top:0;
    left:0;
    padding:.8rem 0;
    /* flex-direction:column; */
    justify-content:center;
    align-items:center;
}
.toolkit{
    display:flex;
}

.head {
    display: flex;
    grid-gap: 1rem;
    flex-wrap: wrap;
    width:fit-content;
}

.head>input {
    max-width: 80px;
    padding: 0px 7px;
    border-radius: 6px;
    /* border: 2px solid #ddd; */
    outline: none;
}
 select {
    border:none;
    outline: none;
    cursor: pointer;
}
select:hover{
    background-color: #efefef;
}
 .color {
    border:none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 1px;
    padding: 0px 7px;
}
.head .color span {
    font-size: 14px;
}
.head .color input {
    border: none;
    padding: 0;
    width: 26px;
    cursor: pointer;
}

 .head .color input::-moz-color-swatch {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    
}
.Icons__container{
    display:flex;
    grid-gap:1rem;
    flex-wrap: wrap;
}
button{
    background:transparent;
    outline:none;
   border:none;
    display:flex;
    align-items:center;
   
    justify-content: center;
    cursor:pointer;
    transition:linear 0.14s;
    border-radius:5px;
  

}
.icon{font-size:6px;}
button:hover{
    color:rgb(143, 241, 164);
    font-size:8px;
}
@media print{
    .navbar_container{
        display:none;
    }
    #content{
        box-shadow:none;
        border:none;
        width:auto;
        margin:0;
        padding:0;
    }
}
@page {
    margin: 1in;
    size: A4;
}
.MuiSvgIcon-root{
    font-size:12px;
}